<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post name</th>
      <th>Post rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.post_name %></td>
        <td><%= post.post_rank %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_with model: Post.new ,id:"form",local: true do |form|%>

  <div class="field">
    <%= form.label :post_name %>
    <%= form.text_field :post_name %>
  </div>

  <div class="field">
    <%= form.label :post_rank %>
    <%= form.number_field :post_rank, id: "myFunction" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<div id="modal-popup">
  <%= render "modal",post: @post%>
</div>
<script>
  $("#myFunction").change(function(){
  var post_rank =  $("#myFunction").val();
    if (post_rank < 40) {
      $.ajax({
        url: "/posts/ajax_request",
        method: "post",
        data: {post_rank: post_rank}
      })
    }
    
  });

  $("#form").submit(function(event){
    event.preventDefault();
    form = $(this)
    $.ajax({
      type: "post",
      url: "/posts",
      data: form.serialize(),
      success: function(data){
        $("#modal-popup").html(data);
        $( ".btn-primary" ).click();
        form[0].reset();
        form.find(':input[type=submit]').prop('disabled', false);
      }
    })
  });
</script>